body {
  margin: 0;
  background-color: #fbfbfb;
  height: 100vh;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#notification {
  position: absolute;
  z-index: 20000;
  position: fixed;
  top: 5em;
  right: 1em;
}

.delete::after,
.modal-close::after {
  height: 50%;
  width: 2px;
}

.notification {
  background-color: #f5f5f5;
  border-radius: 4px;
  position: relative;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.notification.is-danger {
  background-color: #f14668;
  color: #fff;
}

.mb-2 {
  margin-bottom: .5rem!important;
}

.notification.is-warning {
  background-color: #ffe08a;
  color: rgba(0,0,0,.7);
}

.notification.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.notification > .delete {
  right: 0.5rem;
  position: absolute;
  top: 0.5rem;
}

.delete::before,
.modal-close::before {
  height: 2px;
  width: 50%;
}

.delete::after,
.delete::before,
.modal-close::after,
.modal-close::before {
  background-color: #fff;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.delete,
.modal-close {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: 0;
  position: relative;
  vertical-align: top;
  width: 20px;
}

.notification button {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main-content {
  width: 100%;
  min-width: 40rem;
  transition: margin 500ms;
}

.menu-open {
  margin-left: 0;
}
.menu-close {
  margin-left: -15rem;
}

/* .header-open {
  margin-top: 73px;
} */

#root {
  display: flex;
  flex-direction: row;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.show-dialog {
  display: block !important;
}

.hidden-dialog {
  display: none !important;
}

.hidden-component {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.title-task {
  color: #10182f;
  font-style: italic;
  text-align: center;
  font-size: 28px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}
