body {
  margin: 0;
  background-color: whitesmoke;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  margin-top: 64px;
  width: 100%;
}

.menu-open {
  margin-left: 0;
}
.menu-close {
  margin-left: -13.5rem;
}

#root {
  display: flex;
  flex-direction: row;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.show-dialog {
  display: block !important;
}

.hidden-dialog {
  display: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, a:visited {
  text-decoration: none;
  color: black;
}
.title-task {
  color: #10182f;
  font-style: italic;
  text-align: center;
  font-size: 28px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}
